.login {
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  color: #080808;
  width: 100%;
  height: 100vh;
  padding: 80px 60px;
  display: flex;
  justify-content: center;

  .btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s all ease-in;

    &:hover {
      transform: scale(110%);
    }
  }

  .btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;

    label {
      font-size: 18px;
    }
    .errorBorder {
      border: 2px solid red;
    }
    input {
      width: 360px;
      height: 40px;
      border: 1px solid #25342b;
      outline: none;
      padding: 8px;
      border-radius: 10px;
    }
    .error {
      font-size: 14px;
      color: red;
    }
  }
  .message {
    margin-top: 20px;

    span {
      color: blue;
      cursor: pointer;
      transition: 0.3s all ease-in;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
